<%- include("../partials/header.ejs") %>
    <div id="page-header">
      <h1>Blog Host</h1>
      <a href="/"><button>Back to Home</button></a>
    </div>
    
    <hr>

    <form action="/blogs/<%= id %>" method="post">
      <h2>Post Title: <%= blog.title %></h3>
      <p>Date: <%= blog.date %></p>
      <br />
      <p class="blog-view-content"><%= blog.content %></p>
      <a href="/blogs/edit/<%= id %>"><button type="button">Edit Post</button></a>
      <button class="red-hover" type="button" data-method="DELETE">Delete Post</button>
    </form>
    <%- include("../partials/footer.ejs") %>
    </div>
    <script src="/js/blogCardActions.js"></script>
  </body>
</html>
